:root {
    --background-color: #06171E;
    --secondary-color: #09212A;
    --border-style: 2px solid #124658;
    --border-corner: 16px;
    --content-limitation: 20px max(calc((100% - 1440px)/2), 140px);
    --title-limitation: 56px max(calc((100% - 1440px)/2), 24px);
}